# macOS
.DS_Store

# Linux
*~

# VS Code
.vscode/

# Eclipse
.project
.settings/


# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go cache and binary
*.test
*.out

# Vendor directory (se usar)
vendor/

# Terraform state
terraform.tfstate
*.tfstate.*
terraform.tfstate.backup

# Terraform directory
.terraform/

# Crash logs
crash.log

# CLI config
.terraform.lock.hcl

# Playwright browsers cache
playwright/.cache/
**/.cache/ms-playwright/

# Test output (se usar @playwright/test)
test-results/
playwright-report/
blob-report/

# Optional: traces/videos/screenshots gerados em testes
*.zip
*.har
