# macOS
.DS_Store

# Linux
*~

# VS Code
.vscode/

# Eclipse
.project
.settings/

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go cache and binary
*.test
*.out

# Vendor directory (se usar)
vendor/
